.tm-index-cart {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px; 
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 99;
    
    .container {
        position: absolute;
        left: 0px;
        right: 0px;
        bottom: 0px;
        height: 380px;
        background: #ffffff;
        transition: transform 360ms;
        
        .caption {
            display: block;
            height: 44px;
            line-height:44px;
             
            .text {
                float: left;
                display: block;
                width: 60px;
                text-align: right;
                color: #575757;
                font-size: 14px;
                padding: 0px 10px;
                background-image: url('https://ts.zlimg.com/v2/h5/jd/base_selected.png');
                background-repeat: no-repeat;
                background-position: 14px center;
                background-size: 18px 18px;
                &.unselect {
                    background-image: url('https://ts.zlimg.com/v2/h5/jd/base_unselected.png');
                }
            }
            .button {
                float: right;
                display: block;
                height: 26px;
                color: #575757;
                font-size: 13px;
                line-height: 26px;
                padding: 0px 10px;
                margin: 8px;
                border-radius: 5px;
                border: 1px solid #b3b3b3;
            }
        }
        .datalist {
            display: block;
            overflow: auto;
            height: 292px;
            padding: 0px 7px; 
            background-color: #ffffff;
            position: relative;
            
            .item {
                display:block;
                position: relative;
                height: 68px;
                padding: 10px 0px;
                border-bottom: 1px solid #f0f0f0;
                background: #ffffff;
                
                .thumb {
                    float: left;
                    display: block;
                    width: 96px;
                }
                .remind {
                    position: absolute;
                    top: 10px;
                    left: 38px;
                    height: 14px;
                }
                .check {
                    float: left;
                    display: block;
                    width: 38px;
                    height: 68px;
                    background-image: url('https://ts.zlimg.com/v2/h5/jd/base_selected.png');
                    background-position: 7px center;
                    background-repeat: no-repeat;
                    background-size: 18px 18px;
                    &.uncheck {
                        background-image: url('https://ts.zlimg.com/v2/h5/jd/base_unselected.png');
                    }
                    &.notoptiona {
                        background-image: url('https://ts.zlimg.com/v2/h5/jd/cart_not_optional.png');
                    }
                }
                .delete {
                    float: right;
                    width: 18px;
                    height: 18px;
                    padding: 20px 5px 30px 10px;
                    background-image: url("https://ts.zlimg.com/v2/h5/jd/optional_suite_close_b3.png");
                    background-repeat: no-repeat;
                    background-size: 18px 18px;
                    background-position: center center;
                }
                .info {
                    display: block;
                    height: 68px;
                    margin: 0px 28px 0px 142px;
                    
                    .title {
                        display: block;
                        overflow: hidden;
                        color: #575757;
                        font-size: 14px;
                        line-height: 24px;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        padding-top:10px;
                    }
                    .price {
                        display: block;
                        color: #ed6f37;
                        font-size: 15px;
                        line-height: 24px;
                        
                        small {
                            font-size: 12px;
                        }
                    }
                }
                &.unitem {
                    .info {
                        .title {
                            color: #b3b3b3;
                        }
                        .price {
                            color: #b3b3b3;
                        }
                    }
                }
            }
            .empty {
                display: block;
                height: 292px;
                background-image: url('https://ts.zlimg.com/v2/h5/jd/bitmap_no_cart.png');
                background-position: center center;
                background-repeat: no-repeat;
                background-size: auto 160px;
            }
            .loading {
                position: absolute;
                top: 0px;
                left: 0px;
                right:0px;
                bottom: 0px;
                
                .head {
                    margin-top: 100px;
                    
                    .face {
                         
                    }
                     
                }

            }

        }
        
        .controls {
            display: block;
            height: 44px;
            border-top: 1px solid #f0f0f0;
            background-color: #ffffff;
            
            .price {
                float:left;
                color: #575757;
                font-size: 15px;
                line-height: 16px;
                padding: 6px 0px 0px 12px;
                
                em {
                    color: #575757;
                    font-size: 15px;
                }
                dfn {
                    color: #ed6f37;
                    font-size: 15px;
                    
                    small {
                        font-size: 12px;
                    }
                }
                var {
                    display: block;
                    color: #b3b3b3;
                    font-size: 12px;
                }
            }
            
            .button {
                float: right;
                width: 96px;
                color: #575757;
                font-size: 14px;
                text-align: center;
                line-height: 44px;
                border-radius: 0px;
                background-color: #fed030;
            }
        }
    }
}