.tm-cart {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px; 
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 99;
    
    .main {
        position: absolute;
        left: 0px;
        right: 0px;
        bottom: 0px;
        height: 380px;
        background: #ffffff;
        
        .nav{
            height: 40px;
            font-size: 13px;
            z-index: 999;
            overflow: hidden;
             
            .state {
                float: left;
                padding-top: 13.5px;
            }
            .title {
                display: inline-block;
                font-size: 14px;
                color: #575757;
                text-indent: 10px;
                padding: 12.5px 0px;
            }
            .empty {
                display: block;
                font-size: 13px;
                width: 62px;
                text-align: center;
                padding: 7px 0;
                float: right;
                margin: 6px 10px 0px 0px;
                border-radius: 3px;
                color: #575757;
                border: 1px solid #b3b3b3;
            }
        }
        .list {
            background-color: #ffffff;
            height: 294px;
            display: block;
            padding: 0px 7px; 
            overflow: auto;
            
            .item {
                height: 88px;
                overflow: hidden;
                background: #ffffff;
                border-bottom: 1px solid #f0f0f0;
                position: relative;
                
                .toyImg {
                    float: left;
                    display: block;
                    width: 96px;
                    margin: 10px 10px 10px 0px;
                }
                .remind {
                    position: absolute;
                    top: 10px;
                    left: 0px;
                    height: 14px;
                }
                .delete {
                    float: right;
                    width: 18px;
                    height: 88px;
                    margin-right: 5px;
                    background-image: url("https://ts.zlimg.com/v2/h5/jd/optional_suite_close_b3.png");
                    background-repeat: no-repeat;
                    background-size: 18px 18px;
                    background-position: center center;
                }
                .price {
                    display: block;
                    float: right;
                    width: 67px;
                    height: 88px;
                    line-height: 88px;
                    color: #ed6f37;
                    font-size: 15px;
                    text-align: right;
                    margin-right: 15px;
                    .unit {
                        font-size: 12px;
                    }
                }
                .toyName {
                    display: block;
                    height: 88px;
                    line-height: 88px;
                    color: #575757;
                    font-size: 14px;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    margin:0px 100px 0px 106px;
                }
            }
        }
        .settlement {
            position: absolute;
            left: 0px;
            right: 0px;
            height: 45px;
            background-color: #fff;
            bottom: 0px;
            border-top: 1px solid #f0f0f0;
            .price {
                font-size: 15px;
                float:left;
                width: 70%;
                padding-top: 5px;
                color: #575757;
                text-indent: 13px;
                .seed {
                    display: block;
                    .total {
                        font-size: 15px;
                        color: #575757;
                    }
                    .amount {
                        font-size: 15px;
                        color: #ed6f37;
                    }
                    .unit {
                        font-size: 12px;
                        color: #ed6f37;
                    }
                }
                .hint {
                    display: block;
                    margin-top: 6px;
                    font-size: 12px;
                    color: #b3b3b3;
                }
            }
            .subButton {
                float: right;
                width: 30%;
                font-size: 14px;
                color: #575757;
                text-align: center;
                padding: 16px 0;
                background-color: #fed030;
            }
        }
    }
}