.tm-order-address-list {
    position: fixed;
    top: 0px;
    left: 0px;
    right:0px;
    bottom:0px;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 10;
    
    .addresslist {
        position:absolute;
        overflow:auto;
        top:96px;
        left:0px;
        right:0px;
        bottom:73px;
        background-color: #f0f0f0;
        -webkit-overflow-scrolling: touch;
        
        .bitmap {
            display: block;
            height: 100%;
            background-image: url('https://ts.zlimg.com/v2/h5/jd/bitmap_no_address.png');
            background-size: 240px 200px;
            background-repeat: no-repeat;
            background-position: center center;
        }
    }
    
    .controls {
        position: fixed;
        left:0px;
        right:0px;
        bottom:0px;
        padding:15px;
        background-color: #f0f0f0;
        
        .submit {
            position: static;
        }
    }
}
