.tm-mine-order-list {
    
    .navigation {
        position: fixed;
        display: block;
        top: 0;
        left: 0;
        right: 0;
        height: 44px;
        border-bottom: 1px solid #f0f0f0;
        background-color: #ffffff;
        z-index: 2;
        
        span {
            float: left;
            display: block;
            width:20%;
            
            em {
                display: block;
                height: 24px;
                font-size: 14px;
                text-align: center;
                line-height: 24px;
                margin:10px 0px;
                border-right: 1px solid #f0f0f0;
            }
            
            &:last-child {
                
                em {
                    border-right: 0px;
                }
            }
            
            &.selected {
                color:#ED6F37;
                font-weight: bold;
            }
        }
    }
    
    .datalist {
        padding-top:49px;
        
        .item {
            display:block;
            padding:0px 7px;
            margin-top:10px;
            border:1px solid #f0f0f0;
            border-left:0px;
            border-right:0px;
            background: #ffffff;
            
            .caption {
                display:block;
                height: 36px;
                color:#575757;
                font-size:14px;
                line-height:36px;
                padding:0px 3px;
                
                .id {
                    float: left;
                    display: block;
                    height: inherit;
                    line-height: inherit;
                }
                
                .status {
                    float: right;
                    display: block;
                    height: inherit;
                    line-height: inherit;
                }
            }
            .toylist {
                
                .toyitem {
                    height: 68px;
                    margin-bottom:1px;
                    background-color: #f9f9f9;
                    
                    .thumb {
                        float: left;
                        display: block;
                        width: 96px;
                    }
                    .info {
                        display: block;
                        margin-left: 105px;
                        
                        .title {
                            display: block;
                            overflow: hidden;
                            color: #575757;
                            font-size: 14px;
                            white-space: nowrap;
                            text-overflow: ellipsis;
                            padding-top: 7px;
                        }
                        .age {
                            display: block;
                            font-size: 12px;
                            color: #b3b3b3;
                            padding-top:7px;
                        }
                    }
                    .price {
                        float:right;
                        display:block;
                        color:#575757;
                        font-size:14px;
                        text-align:right;
                        padding-top:21px;
                        padding-right:12px;
                        
                        small {
                            display:block;
                            color:#969696;
                            font-size:12px;
                            font-weight: normal;
                            margin-top:5px;
                        }
                    }
                }
            }
            .expand {
                display:block;
                height: 24px;
                color: #b3b3b3;
                font-size: 14px;
                text-align: center;
                line-height: 24px;;
            }
            .total {
                display:block;
                height: 28px;
                color: #969696;
                font-size: 12px;
                line-height: 28px;
                text-align: right;
                padding-right: 10px;
                border-bottom: 1px solid #f0f0f0;
                
                strong{
                    color:#575757;
                }
            }
            
            .actions {
                display:block;
                height:44px;
                text-align:right;
                
                .clock {                    
                    float: left;
                    display:block;
                    height:32px;
                    font-size: 12px;
                    line-height:32px;
                    margin:6px 0px;
                    
                    em {
                        float: left;
                        display: block;
                        color: #ffffff;
                        padding:0px 9px;
                        border-radius: 5px 0px 0px 5px;
                        background-color: #FD7846;
                    }
                    
                    var {
                        float: left;
                        display: block;
                        color: #FD7846;
                        padding:0px 9px;
                        border-radius: 0px 5px 5px 0px;
                        background-color: #f5f5f5;
                    }
                }
                
                .link {
                    display: inline-block;
                    height:32px;
                    color:#969696;
                    line-height: 32px;
                    padding:0px 5px;
                    margin: 6px 0px;
                }
                
                .button {
                    display: inline-block;
                    height: 30px;
                    color: #575757;
                    line-height: 30px;
                    padding: 0px 9px;
                    margin: 6px 0px;
                    border:1px solid #dfdfdf;
                    border-radius:5px;
                    background:#ffffff;
                    
                    &.circle{
                        color: #575757;
                        border:1px solid #fed130;
                    }
                    
                    &.submit {
                        color: #575757;
                        border:1px solid #fed130;
                        background-color: #fed130;
                    }
                }
            }
        }
    }
}
