
    .tm-result {
        display : block;
        height:100%;
        
       .success {
            text-align: center;
            font-size: 16px;
            color: #fed030;
            margin: 200px auto;
       }
    }