.tm-mine-address-list {
    display:block;
    
    .datalist{
         
    }
    
    .controls {
        display:block;
        position:fixed;
        left:0px;
        right:0px;
        bottom:0px;
        padding:0px 15px 15px 15px;
    }
}
