.tm-mine-address-list {
    display:block;
    margin-bottom: 70px;
    .addresslist {
         .bitmap {
            display: block;
            height: 510px;
            background-image: url('https://ts.zlimg.com/v2/h5/jd/bitmap_no_address.png');
            background-size: 240px 200px;
            background-repeat: no-repeat;
            background-position: center center;
        }
    }
    .datalist{
         
    }
    
    .controls {
        display:block;
        position:fixed;
        left:0px;
        right:0px;
        bottom:0px;
        padding:0px 15px 15px 15px;
    }
}
