.tm-mine-address-list {
    display:block;
    
    .datalist{
         
        .item {
            display:block;
            padding:10px 0px 0px 0px;
            margin-top:10px;
            border-top:1px solid #f0f0f0;
            border-bottom:1px solid #f0f0f0;
            background:#ffffff;
            
            .consignee {
                display: block;
                height:28px;
                color:#575757;
                font-size:14px;
                line-height:28px;
                padding: 0px 12px;
                
                em {
                    float:left;
                    display:block;
                    height:inherit;
                }
                small {
                    float:left;
                    display:block;
                    height:inherit;
                    color:#b3b3b3;
                    margin-left:5px;
                }
                dfn {
                    float:right;
                    display:block;
                    height:inherit;
                }
            }
            .total {
                display: block;
                color:#b3b3b3;
                font-size:12px;
                line-height:20px;
                padding:0px 12px;
            }
            .actions{
                display: block;
                height:32px;
                padding: 6px;
                margin:7px 7px 0px 7px;
                border-top:1px solid #f0f0f0;
                
                .selected {
                    float: left;
                    display: block;
                    height:32px;
                    
                    img {
                        float:left;
                        display:block;
                        width: 16px;
                        margin:8px 0px;    
                    }
                    dfn {
                        float:left;
                        display:block;
                        height:32px;
                        color: #ed6f37;
                        font-size: 12px;
                        line-height:32px;
                        margin-left:7px;
                    }
                }
                .button {
                    float:right;
                    display:block;
                    height:32px;
                    margin-left:12px;
                    
                    img {
                        float:right;
                        display:block;
                        width:16px;
                        margin:8px 0px;
                    }
                    dfn{
                        float:right;
                        display:block;
                        color: #575757;
                        font-size: 12px;
                        line-height:32px;
                        margin-left:7px;
                    }
                }
            }
        }   
    }
    
    .controls {
        display:block;
        position:fixed;
        left:0px;
        right:0px;
        bottom:0px;
        padding:0px 15px 15px 15px;
    }
}
