$fontColorCaption: #5d5d5d;
$colorActived: #fed030;
$imageCDNUrl: 'https://ts.zlimg.com/v2/h5/jd/';

.tm-order-express {
    .search {
        position: fixed;
        top:0px;
        left:0px;
        right:0px;
        height:36px;
        padding:6px;    
        background:#f3f3f3;
        transition: top 240ms ease-in;
        z-index:50;
        
        .text {
            display: block;
            height: 36px;
            color: #969696;
            line-height: 36px;
            padding: 0px 0px 0px 32px;
            margin: 0px;
            border: 0px solid #ffffff;
            border-radius: 5px;
            background: #ffffff;
            background-image: url($imageCDNUrl + 'icon_search_text.png');
            background-size: 12px 12px;
            background-position: 12px center;
            background-repeat: no-repeat;
        }

        &.hide {
            top:-48px;
        }
    }
    .list {
        margin-top: 40px;
        height: calc(100% - 40px);
        background-color: #ffffff;
        .hot {
            .title {
                display: block;
                height: 28px;
                line-height: 28px;
                font-size: 12px;
                width: 100%;
                background: #f0f0f0;
                color: #b3b3b3;
                text-indent: 31px;
            }
            .seed {
                .each {
                    display: block;
                    font-size: 13px;
                    color: #575757;
                    border-bottom: 1px solid #f5f5f5;
                    margin-left: 23px;
                    padding: 18.5px 0;
                }
                
            }
            .each:last-child {
                border-bottom: none;
            }
        }
    }
}
