$cdnImageUrl: 'https://ts.zlimg.com/v2/h5/jd/';

.tm-mine-index {
    width: 100%;
    
    .heading {
        height: 96px;
        padding: 32px; 
        background-image: url($cdnImageUrl + 'mine_back_user.png');
        background-size: 100%;
        
        .avatar {
            float: left;
            display: block;
            width: 96px;
            height: 96px;
            border-radius: 48px;
            background-color: #ffffff;
            background-image: url($cdnImageUrl + 'header_none.png');
            background-size: 96px;
            
            .image {
                width: 96px;
                height: 96px;
                border-radius: 50%;
            }
        }
        .info {
            display: block;
            margin-top: 24px;
            margin-left: 128px;
            background-image: url($cdnImageUrl + 'icon_more_arrow.png');
            background-position: right center;
            background-size: 9px 15px;
            background-repeat: no-repeat;
            
            .nick {
                display: block;
                height: 36px;
                color: #5d5d5d;
                font-size: 18px;
            }
            
            .age-sex {
                display: block;
                font-size: 14px;
                
                dfn {
                    display: inline-block;
                    color: #969696;
                    padding-right: 6px;    
                }
            }
        }
    }
    .cells {
        
        .group {
            padding:0px 5px 0px 12px;
            margin-top: 10px;
            border: 1px solid #e5e5e5;
            border-left: 0px;
            border-right: 0px;
            background-color: #ffffff;
         
            .item {
                display: block;
                height:44px;
                border-bottom: 1px solid #f0f0f0;
            
                .icon {
                    float: left; 
                    display: block;
                    width:20px;
                    height:20px;
                    margin:12px 12px 12px 0px;
                }
                
                .text {
                    float: left;
                    display: block;
                    color: #575757;
                    font-size: 14px;
                    line-height:44px;
                }
                
                .arrow {
                    float:right;
                    display:block;
                    width:7px;
                    height:12.5px;
                    margin: 14px 7px 14px 14px;
                }
                
                &:last-child {
                    border-bottom:0px;
                }
            }
        }
    }
}
