$cdnImageUrl: 'https://ts.zlimg.com/v2/h5/jd/';

.tm-mine-index {
    width: 100%;
    
    .heading {
        height: 75px;
        padding: 25px 12px 25px 25px; 
        background-color: #ffc000;
        
        .avatar {
            float: left;
            display: block;
            width: 75px;
            height: 75px;
            border-radius: 48px;
            background-color: #ffffff;
            background-image: url($cdnImageUrl + 'mine_personalcenter_info.png');
            background-size: 64px;
            background-repeat: no-repeat;
            background-position: center center; 
            
            .image {
                width: 75px;
                height: 75px;
                border-radius: 50%;
            }
        }
        
        .info {
            display: block;
            margin-top: 0px;
            margin-left: 100px;
            
            .nick {
                display: block;
                height: 36px;
                line-height: 36px;
                color: #4d400d;
                font-size: 18px;
            }
            
            .age-sex {
                display: block;
                font-size: 12px;
                margin-top: 3px;;
                margin-right: 95px;
                
                dfn {
                    display: block;
                    line-height: 18px;;
                    color: #907115;  
                }
            }
            .button {
                float: right;
                display: inline-block;
                width: 88px;
                height: 35px;
                text-align: right;
                line-height: 35px;
                font-size: 12px;
                color: #4d400d;
                border: 1px solid #d2a50f;
                border-radius: 19px;
                var {
                    float: right;
                    display: inline-block;
                    width: 25px;
                    height: 35px;
                    background-image: url($cdnImageUrl + 'mine_arrow.png');
                    background-position: center center;
                    background-size: 7px 11px;
                    background-repeat: no-repeat;
                }
            }
        }
    }
    .cells {
        
        .group {
            padding:0px 5px 0px 12px;
            margin-top: 10px;
            border: 1px solid #e5e5e5;
            border-left: 0px;
            border-right: 0px;
            background-color: #ffffff;
         
            .item {
                display: block;
                height:44px;
                border-bottom: 1px solid #f0f0f0;
            
                .icon {
                    float: left; 
                    display: block;
                    width:20px;
                    height:20px;
                    margin:12px 12px 12px 0px;
                }
                
                .text {
                    float: left;
                    display: block;
                    color: #575757;
                    font-size: 14px;
                    line-height:44px;
                }
                
                .arrow {
                    float:right;
                    display:block;
                    width:7px;
                    height:12.5px;
                    margin: 14px 7px 14px 14px;
                }
                
                &:last-child {
                    border-bottom:0px;
                }
            }
        }
    }
}
