.tm-order-logistics {
    width: 100%;
    height: calc(100vh);
    ins {
        height: 42px;
        background-color: #f0f0f0;
        width: 1px;
        position: absolute;
        left: 50%;
        top: 3px;
    }
    .nav {
        width: 100%;
        overflow: hidden;
        position: relative;
        font-size: 15px;
        background-color: #ffffff;
        .common {
            width: 50%;
            text-align: center;
            .title {
                display: block;
                font-size: 15px;
                padding: 16px 0 2px 0;
            }
            .line {
                width: 95px;
                height: 3px;
                background: #ffffff;
                display: inline-block;
            }
            &.actived var {
                background-color: #fed030;
            }
        }
        .left {
            float: left;
        }
        .right {
            float: right;
        }
    }
    .leftMain,.rightMain {
        font-size: 15px;
        margin-top: 10px;
        margin-bottom: 31px;
        .list {
            background-color: #ffffff;
            .item {
                padding: 12.5px 0;
                border-bottom: 1px solid #f0f0f0;
                .name{
                    font-size: 15px;
                    padding: 0 15px;
                }
                .number {
                    font-size: 15px;
                }
            }
        }
        .details {
            margin-top: 10px;
            background: #fff;
            .detail {
                position: relative;
               
                overflow: hidden;
                .time {
                    float: left;
                    padding: 10px 0 0 13px;
                    display: inline-block;
                    font-size: 13px;
                    text-align: center;
                    .timemin {
                        display: block;
                    }
                    .month {
                        padding-top: 5px;
                        display: block;
                    }
                }
                .top {
                    width: 3px;
                    position: absolute;
                    left: 69px;
                    height: 25px;
                    top: 0;
                    background: #fff;
                    display: none;
                }
                .max {
                    width: 17px;
                    height: 17px;
                    background: #fff5d9;
                    border-radius: 50%;
                    position: absolute;
                    left: 62px;
                    top: 17px;
                    display: none;
                }
                .max:first-child {
                    display: block;
                }
                .min {
                    width: 10px;
                    height: 10px;
                    background: #b3b3b3;
                    border-radius: 50%;
                    position: absolute;
                    left: 65.5px;
                    top: 20.5px;
                }

                .stage {
                    width: 78%;
                    margin-left: 70px;
                    font-size: 15px;
                    border-left: 1px solid #b3b3b3;
                    .content {
                        width: 90%;
                        font-size: 15px;
                        margin: 0 12px 0 20px;
                        border-bottom: 1px solid #f0f0f0;
                        .title {
                            padding: 18px 0;
                            font-size: 15px;
                            color: #b3b3b3;
                            display: -webkit-box;
                            -webkit-box-orient: vertical;
                            -webkit-line-clamp: 3;
                            overflow: hidden;
                        }
                    }
                }
            }
            .detail:first-child .max{
                display: block;
            }
            .detail:first-child .min{
                background: #fed030;
            }
            .detail:first-child .title{
                color: #575757;
            }
            .detail:first-child .top{
                width: 3px;
                position: absolute;
                left: 69px;
                height: 25px;
                top: 0px;
                background: #FFFFFF;
                display: block;
            }
            .detail:last-child .top{
                width: 1px;
                position: absolute;
                left: 70px;
                height: 25px;
                top: 0px;
                background: #b3b3b3;
                display: block;
            }
            .detail:last-child .stage {
                border: none;
            }
            
        }
    }
    .footer {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: #FFFFFF;
        height: 45px;
        .addReturn {
            font-size: 15px;
            color: #575757;
            margin-left: 5%;
            width: 90%;
            background-color: #b3b3b3;
            border-radius: 5px;
            padding: 12.5px 0;
            text-align: center;
        }
    }
    
}
