.tm-mine-order {
    .navigation {
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        z-index: 2;
        overflow: hidden;
        padding: 5px 0;
        background-color: #ffffff;
        border-bottom: 1px solid #f0f0f0;
        border-top: 1px solid #f0f0f0;
        span {
            float: left;
            display: block;
            width: calc(20% - 1px);
            font-size: 15px;
            padding: 7.5px 0;
            text-align: center;
            border-right: 1px solid #f0f0f0;
        }
        span:last-child{
             border-right: 0px;
        }
    }
    .content {
        margin-top: 50px;
        .main {
            .item {
                margin-top: 10px;
                background: #ffffff;
                .title {
                    overflow: hidden;
                    font-size: 14px;
                    color: #575757;
                    .id {
                        font-size: 14px;
                        float: left;
                        padding: 8px 0 8px 10px;
                    }
                    .status {
                        font-size: 14px;
                        float: right;
                        padding: 8px 10px 8px 0;
                    }
                }
                .toys {
                     background-color: #f9f9f9;
                    .toy {
                        overflow: auto;
                        border-bottom: 1px solid #f0f0f0;
                        position: relative;
                        .toyImg {
                            width: 30%;
                            float: left;
                            padding: 5px 0 5px 10px;
                        }
                        .area {
                            float: left;
                            font-size: 13px;
                            color: #575757;
                            padding-left: 10px;
                            width: 50%;
                            .name {
                                display: block;
                                width: 88%;
                                color: #575757;
                                padding-top: 6%;
                                font-size: 14px;
                                text-overflow: ellipsis;
                                overflow: hidden;
                                white-space: nowrap;
                            }
                            .age {
                                display: block;
                                font-size: 12px;
                                color: #b3b3b3;
                                padding-top: 7%;
                            }
                            .size {
                                height: 13px;
                                padding-top: 8%;
                                margin-right: 5px;
                           }
                        }
                        .price {
                            position: absolute;
                            top: 12%;
                            right: 10px;
                        }
                    }
                }
                .more {
                    background-color: #f9f9f9;
                    height: 20px;
                    text-align: center;
                    font-size: 14px;
                    color: #b3b3b3;
                }
                .desc {
                    height: 25px;
                    line-height: 25px;
                    font-size: 12px;
                    color: #575757;
                    text-align: right;
                    padding-right: 10px;
                    border-bottom: 1px solid #f0f0f0;
                }
                .actions {
                    overflow: auto;
                    height: 43px;
                    font-size: 13px;
                    .all {
                        float: right;
                        width: 63px;
                        background-color: #fed130;
                        border-radius: 3px;
                        text-align: center;
                        padding-top: 7px;
                        color: #575757;
                        padding: 9px 0;
                    }
                    .left {
                        background-color: #ffffff;
                        margin: 6px 30px 0 0;
                        padding: 8px 0;
                        border: 1px solid #f0f0f0
                    }
                    .right {
                        background-color: #fed130;
                        margin: 6px 10px 0 0;
                    }
                    .countDown {
                        float: left;
                        margin: 6px 0 0 10px;
                        .title {
                            width: 50px;
                            float: left;
                            padding: 9px 0;
                            font-size: 13px;
                            text-align: center;
                            color: #ffffff;
                            background-color: #FD7846;
                        }
                        .time {
                            width: 74px;
                            float: left;
                            text-align: center;
                            padding: 9px 0;
                            background-color: #f5f5f5;
                            color: #FD7846;
                        }
                    }
                }
            }
        }
    }
}
