.tm-mine-profile {
    background-color: #f0f0f0;
    .content {
        width: 88%;
        height: 330px;
        background-color: #FFFFFF;
        margin: 57px 6% 0 6%;
        border-radius: 10px;
        .title {
            display: block;
            width: 100%;
            color: #888888;
            text-align: center;
            font-size: 14px;
            padding-top: 30px; 
        }
        .box {
            overflow: hidden;
            padding: 40px 15%;
            .all {
                width: 86px;
                text-align: center;
                .sex {
                    width: 86px;
                    padding-bottom: 5px;
                } 
                .con {
                    font-size: 15px;
                }
                .selected {
                    width: 18px;
                    position: absolute;
                    bottom: 30px;
                    right: 2px;
                }
            }
            .boy {
                float: left;
                position: relative;
            }
            .girl {
                float: right;
                position: relative;
            }
        }
        .date {
            position: relative;
            margin: 0 13%;
            height: 35px;
            border-bottom: 1px solid #f0f0f0;
            span {
                text-indent: 5%;
                display: block;
                padding-top: 13px;
                font-size: 15px;
            }
            img {
                position: absolute;
                width: 18px;
                top: 10px;
                right: 5%;
            }
        }
    }
    .submit {
        font-size: 15px;
        color: #575757;
        position: fixed;
        bottom: 5px;
        left: 5%;
        width: 90%;
        background-color: #fed130;
        border-radius: 5px;
        padding: 12.5px 0;
        text-align: center;
    }
}
