.tm-order-confirm {
    display: block;
    overflow: auto;
    
    .address {
        display:block;
        height: 86px;
        padding:0px 5px 0px 12px;
        margin-top: 10px;
        border-top:1px solid #f0f0f0;
        border-bottom:1px solid #f0f0f0;
        background:#ffffff;
        
        .icon {
            float: left;
            display: block;
            width: 30px;
            height: inherit;
            background-image:url('https://ts.zlimg.com/v2/h5/jd/order_address_clickable.png');
            background-position: left center;
            background-size: 16px auto;
            background-repeat: no-repeat;
        }
        .arrow {
            float: right;
            display: block;
            width: 20px;
            height: inherit;
            background-image:url('https://ts.zlimg.com/v2/h5/jd/home_button_entry.png');
            background-position: center center;
            background-size: 7px auto;
            background-repeat: no-repeat;
        }
        .info {
            display: block;
            height: 72px;
            color: #575757;
            font-size: 14px;
            line-height: 26px;
            padding: 7px 0px;
            margin: 0px 20px 0px 30px;
        
            .cell {
                display: block;
                font-size: 14px;
                line-height:24px;                
            }
        }
    }
    
    .group {
        display:block;
        padding:0px 5px 0px 12px;
        margin-top: 10px;
        border-top:1px solid #f0f0f0;
        border-bottom:1px solid #f0f0f0;
        background:#ffffff;
        
        .cell {
            display: block;
            height: 44px;
            line-height: 44px;
            border-bottom: 1px solid #f0f0f0;
            
            .icon {
                float:left;
                display: block;
                width: 30px;
                height: inherit;
                background-position: left center;
                background-size: 16px auto;
                background-repeat: no-repeat;
                
                &.delivery {
                    background-image:url('https://ts.zlimg.com/v2/h5/jd/order_time_clickable.png');
                }
                &.period {
                    background-image:url('https://ts.zlimg.com/v2/h5/jd/order_rentdate_clickable.png');
                }
                &.coupon {
                    background-image:url('https://ts.zlimg.com/v2/h5/jd/order_coupon_clickable.png');
                }
            }
            .arrow {
                float: right;
                display: block;
                width: 20px;
                height: inherit;
                background-image:url('https://ts.zlimg.com/v2/h5/jd/home_button_entry.png');
                background-position: center center;
                background-size: 7px auto;
                background-repeat: no-repeat;
            }
            .label {
                float: left;
                display: block;
                width: 64px;
                height: inherit;                
                color: #575757;
                font-size: 14px;
            }
            .value {
                display: block;
                height: 36px;
                text-align: right;
                padding: 4px 0px;
                margin: 0px 20px 0px 94px; 
                
                strong {
                    display: block;
                    color: #ed6f37;
                    font-size: 14px;
                    font-weight: normal;
                    line-height: 18px;
                }
                small {
                    display: block;
                    color: #b3b3b3;;
                    font-size: 13px;
                    line-height: 18px;
                }
                var {
                    display:block;
                    color: #ed6f37;
                    font-size: 14px;
                    line-height: 36px;
                    
                    &.gray {
                        color: #b3b3b3;
                    }
                }
            }
            .text {
                float: left;
                display: block;
                height: inherit;         
                color: #575757;
                font-size: 14px;
                .jdlogo {
                    float: left;
                    display: inline-block;
                    width: 20px;
                    height: 44px;
                    background-image: url('https://ts.zlimg.com/v2/h5/jd/jd_little_white.png');
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: 17px 20px;
                    margin-right: 5px;
                }
                small {
                    color: #b3b3b3;
                }
            }
            .element {
                float: right;
                display: block;
                height: inherit;
                margin-right: 5px;
                
                var {
                    display:block;
                    color: #575757;
                    font-size: 14px;
                    line-height: 44px;
                }
                .s {
                    display:block;
                    color: #575757;
                    font-size: 14px;
                    line-height: 44px;
                }
                strong {
                    display:block;
                    color: #ed6f37;
                    font-size: 14px;
                    font-weight: normal;
                    line-height: 44px;
                }
            }
            &:last-child {
                border-bottom: 0px;;
            }
        }
        
    }
    
    .toys{
        display:block;
        margin-top: 10px;
        margin-bottom: 56px;
        border-top:1px solid #f0f0f0;
        border-bottom:1px solid #f0f0f0;
        background:#ffffff;
        
        .caption {
            display:block;
            height: 44px;
            font-size: 14px;
            line-height:44px;
            background-color: #ffffff;
            
            ins {
                float: left;
                display:block;
                width: 4px;
                height: 32px;
                margin:6px 0px;
                background: #fed130;
            }
            em{
                float: left;
                display:block;
                padding: 0px 10px;
            }
            dfn{
                float: right;
                display:block;
                color: #ed6f37;
                padding: 0px 12px;
                
                small {
                    font-size: 12px;
                }
            }
        }
        .itemtoys {
            background-color: #ffffff;
            
            .toylist {
                .toyitem {
                    .info {
                        .title {
                            background-color: #f9f9f9;
                        }
                    }
                }
            }
        }
    }
    .controls {        
        display: block;
        position: fixed;
        left: 0px;
        right: 0px;
        bottom: 0px;
        height: 44px;
        border-top: 1px solid #f0f0f0;
        background-color: #ffffff;
        
        .price {
            float:left;
            color: #575757;
            font-size: 15px;
            line-height: 44px;
            padding: 0px 0px 0px 12px;
            
            em {
                color: #575757;
                font-size: 15px;
            }
            dfn {
                color: #ed6f37;
                font-size: 15px;
                
                small {
                    font-size: 12px;
                }
            }
        }
        
        .button {
            float: right;
            display: block;
            width: 96px;
            color: #575757;
            font-size: 14px;
            text-align: center;
            line-height: 44px;
            border-radius: 0px;
            background-color: #fed030;
        }
    }
}
