$imageCDNUrl: "https://ts.zlimg.com/v2/h5/jd/";
.tm-order-pop_coupon {
    position: fixed;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 10;
    .null {
        background-color: rgba(0, 0, 0, 0.0);
        height: 30%;
    }
    .content {
        position: absolute;
        bottom: 0px;
        width: 100%;
        height: 70%;
        background-color: #f0f0f0;
        overflow-y: scroll;
        .title {
            display: block;
            color: #575757;
            font-size: 14px;
            background-color: #ffffff;
            border-bottom: 1px solid #f0f0f0;
            padding: 13px 0 13px 10px;
        }
        .notUse {
            display: block;
            width: 90%;
            margin: 10px 5%;
            background-color: #fff;
            border-radius: 3px;
            text-align: center;
            padding: 10.5px 0;
            position: relative;
            font-size: 14px;
            color: #575757;
            .sel {
                width: 15px;
                position: absolute;
                right: 10px;
                top: 10px;
            }
        }
        .coupons {
            height: 98px;
            width: 90%;
            margin: 10px 5% 0px 5% ;
            border-radius: 3px;
            position: relative;
            background-image: url($imageCDNUrl + "coupon_background_selected.png");
            background-size: auto;
            .main {
                height: 65px;
                display: block;
                overflow: hidden;
                position: relative;
                .money {
                    float: left;
                    display: inline-block;
                    height: 65px;
                    line-height: 65px;
                    padding-left: 10px;
                    color: #ed6f37;
                    dfn {
                        font-size: 17px;
                    }
                    em {
                        font-size: 35px;
                        
                    }
                }
                .box {
                    width: 40%;
                    float: left;
                    display: block;
                    height: 65px;
                    padding-left:10px;
                    line-height: 20px;
                    em {
                        padding-top: 15px;
                        color: #333333;
                        font-size: 15px;
                        display: block;
                        white-space: nowrap;
                        text-overflow:ellipsis; 
                        overflow:hidden;
                    }
                    dfn {
                        display: block;
                        color: #575757;
                        font-size: 11px;
                        white-space: nowrap;
                        text-overflow:ellipsis; 
                        overflow:hidden;
                    }
                }
                .use {
                    position: absolute;
                    right: 10px;
                    top: 20px;
                    color: #ed6f37;
                    display: block;
                    font-size: 13px;
                    width: 62px;
                    text-align: center;
                    padding: 7px 0;
                    border-radius: 3px;
                    border: 1px solid #ed6f37;
                }
            }
            .validity {
                display: block;
                overflow: hidden;
                border-top: 1px solid #f0f0f0;
                em {
                    float: left;
                    font-size: 11px;
                    color: #ed6f37;
                    padding: 10px 0 10px 10px; 
                }
                dfn {
                    float: right;
                    font-size: 11px;
                    color: #575757;
                    padding: 10px 10px 10px 0; 
                }
            }
        }

    }
}