.tm-order-addressList {
    position: fixed;
    top: 0px;
    width: 100%;
    font-size: 14px;
    color: #575757;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 10;
    .null {
        background-color: rgba(0, 0, 0, 0.0);
        height: 95px;
    }
    .list {
        height: calc(100vh - 95px);
        overflow: auto;
        background-color: #f0f0f0;
        .detali {
            display: block;
            margin-top: 10px;
            position: relative;
            background-color: #FFFFFF;
            border-bottom: 1px solid #f0f0f0;
            .title {
                display: block;
                font-size: 14px;
                padding-top: 12px;
                margin: 0px 10px;
                .sex {
                    margin: 0 15px 0 5px;
                }
                .sum {
                    float: right;
                }
            }
            .address {
                font-size: 12px;
                color: #888888;
                padding-top: 10px;
                margin: 0px 10px;
                overflow: hidden;
                line-height: 16px;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                 
            }
            .set {
                display: block;
                height: 38px ;
                margin-top: 10px;
                border-top: 1px solid #f0f0f0;
                overflow: hidden;
                img {
                    width: 16px;
                }
                .default {
                    float: left;
                    display: block;
                    width: 80px;
                    height: 38px;
                    margin-left: 10px;
                    position: relative;
                    .selected_orange {
                        width: 16px;
                        position: absolute;
                        top: 11px;
                        left: 0px;
                    }
                    dfn {
                        position: absolute;
                        top: 12px ;
                        left: 23px;
                        color: #ed6f37;
                        font-size: 12px;
                    }
                }
                .edit  {
                    position: relative;
                    float: right;
                    margin-right: 10px;
                    display: block;
                    width: 60px;
                    height: 38px;
                    img {
                        position: absolute;
                        top: 9px;
                        left: 5px;
                        width: 18px;
                    }
                    dfn {
                        position: absolute;
                        top: 12px ;
                        left: 28px;
                        color: #575757;
                        font-size: 12px;
                    }
                }
            }
        }
        .detali:last-child {
            margin-bottom: 48px;
        }
    }
    .add {
        position: absolute;
        bottom: 5px;
        left: 5%;
        width: 90%;
        background-color: #fed130;
        border-radius: 5px;
        padding: 13px 0 ;
        text-align: center;
    }
}
