
.tm-index {
    .tm-slide {
        height: 42vw;
    }
    .topbar {
        position: absolute;
        top: 0px;
        left: 0px;
        right: 0px;
        height: 44px;
        
        .location {
            float: left;
            display: 24px;
            margin: 16px;
            border-radius: 12px;
            background: rgba(255,255,255,.8);
            
            var {
                float: left;
                display: block;
                width: 24px;
                height: 24px;
                background: url("https://ts.zlimg.com/v2/h5/jd/home_icon_address.png") center center/12px 15px no-repeat;
            }
            em {
                float: left;
                display: block;
                height: 24px;
                color: #575757;
                font-size: 12px;
                line-height: 24px;
                padding-right: 12px;
                margin-right: 6px;
                background: url("https://ts.zlimg.com/v2/h5/jd/home_arrow.png") right center/7px 12px no-repeat;
            }
        }
        
        .search {
            float: right;
            display: block;
            width: 50px;
            height: 50px;  
            margin-top: 6px;
            margin-right: 5px;
            background: url("https://ts.zlimg.com/v2/h5/jd/home_search.png") center center/49px 49px no-repeat;  
        }
    }
    
    .navigation {
        display: block;
        top: 0px;
        left: 0px;
        right: 0px;
        height: 44px;
        padding: 0px;
        margin: 0px;
        border-bottom: 1px solid #f3f3f3;
        background: #ffffff;
        z-index: 99;
        
        .personal {
            float: right;
            display: block;
            overflow: hidden;
            width: 44px;
            height: 44px;
            padding-right: 16px;
            
            &:before {
                display: block;
                position: relative;
                content: "";
                width: 44px;
                height: 44px;
                background: url("https://ts.zlimg.com/v2/h5/jd/mine_personalcenter.png") center center/32px 32px no-repeat;
                /*animation: headshake 360ms 360ms infinite;*/
                -webkit-animation: headshake 1200ms ease 0s infinite alternate;
            }
            &:after {
                display: block;
                position: relative;
                content: "";
                top: -44px;
                width: 28px;
                height: 21px;
                margin-left: 16px;
                background: url("https://ts.zlimg.com/v2/h5/jd/mine_authorized.png") center top/28px 21px no-repeat;            
            }   
        }
        .category {
            display: block;
            height: 44px;
            margin-right: 60px;
            
            .item {
                float:left; 
                display: block;
                width: 20%;
                height: inherit;
                
                em {
                    display: block;
                    height: inherit;
                    font-size: 15px;
                    text-align: center;
                    line-height: 44px;
                }
            }
        }
    }
    
    .summary {
        margin-top: 12px;
        background: #ffffff;
        
        .caption {
            display: block;
            height: 70px;
            text-align: center;
            margin: 0px 12px;
            background: url('https://ts.zlimg.com/v2/h5/jd/home_button_entry.png') right center / 7px 12px no-repeat;
            
            em {
                display: inline-block;
                color: #ff4956;
                font-size: 16px;
                padding-left: 20px;
                margin-top: 22px;
                background: url('https://ts.zlimg.com/v2/h5/jd/home_lego.png') left center / 16px 16px no-repeat;
            }
            dfn {
                display: block;
                color: #b3b3b3;
                font-size: 12px;
                margin-top: 10px;
            }
        }
        
        .datalist {
            display: block;
            overflow: hidden;
            
            .item {
                float: left;
                border-right: 1px solid #f0f0f0;
                border-bottom: 1px solid #f0f0f0;
                
                img {
                    margin-top: 10px;
                }
                em {
                    display: block;
                    overflow: hidden;
                    color: #333333;
                    font-size: 12px;
                    line-height: 14px;
                    text-overflow:ellipsis;
                }
                dfn {
                    display: block;
                    height: 33px;
                    color: #ff4956;
                    font-size: 14px;
                    line-height: 33px;
                }
            }
            
            .best {
                float: left;
                display: block;
                width: calc(40% - 1px);
                border-right: 1px solid #f0f0f0;
                
                em {
                    display: block;
                    overflow: hidden;
                    height: 36px;
                    font-size: 12px;
                    line-height: 18px;
                    text-overflow:ellipsis;
                    padding-top: 10px;
                    margin: 0px 10px;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 2;
                }
                dfn {
                    display: block;
                    height: 33px;
                    color: #ff4956;
                    font-size: 16px;
                    font-weight: 700;
                    line-height: 33px;
                    text-align: left;
                    margin: 0px 10px;
                }
                img {
                    width: 100%;
                    margin: 20px 0px;
                }
                var {
                    display: block;
                    position: absolute;
                    width: 32px;
                    height: 32px;
                    margin-top: -40vw;
                    margin-left: 10px;
                    background: url('https://ts.zlimg.com/v2/h5/jd/home_hot.png') center center / 32px 32px no-repeat;
                }
            }
            .next {
                float: left;
                display: block;
                overflow: hidden;
                width: 60%;
                border-bottom: 1px solid #f0f0f0;
                
                img {
                    float: right;
                    width: 50%;
                }
                em {
                    display: block;
                    overflow: hidden;
                    height: 36px;
                    font-size: 12px;
                    line-height: 18px;
                    text-overflow:ellipsis;
                    padding: 10px 0px 0px 10px;
                    margin-right: 50%;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 2;
                }
                dfn {
                    display: block;
                    overflow: hidden;
                    height: 33px;
                    color: #ff4956;
                    font-size: 14px;
                    line-height: 33px;
                    text-align: left;
                    margin: 0px 50% 0px 10px;
                }
            }
            .third {
                float: left;
                display: block;
                overflow: hidden;
                width: 60%;
                
                .subitem {
                    float: left;
                    width: 50%;
                    overflow: hidden;
                    
                    em {
                        display: block;
                        overflow: hidden;
                        height: 36px;
                        font-size: 12px;
                        line-height: 18px;
                        text-overflow:ellipsis;
                        margin: 0px 10px;
                        padding-top: 10px;
                        -webkit-box-orient: vertical;
                        -webkit-line-clamp: 2;
                    }
                    dfn {
                        display: block;
                        height: 16px;
                        color: #ff4956;
                        font-size: 12px;
                        line-height: 16px;
                        text-align: left;
                        margin: 0px 10px;
                    }
                    img {
                        width: 100%;
                    }
                }
            }
        }
        
        &.recommend {
            .caption {
                background: none;
            
                em {
                    color: #4d9df7;
                    background-image: url('https://ts.zlimg.com/v2/h5/jd/home_icon_recommend.png');
                }
            }
            .datalist {
                .item {
                    width: calc(33.3vw - 1px);
                    
                    img {
                        width: 100%;
                    }
                    em {
                        height: 28px;
                        line-height: 14px;
                        margin: 10px 10px 0px 10px;
                        -webkit-box-orient: vertical;
                        -webkit-line-clamp: 2;
                    }
                    dfn {
                        text-align: center;
                    }
                }
            }
        }   
        &.hot {
            .caption {
                background: none;
                
                em {
                    color: #985ddb;
                    background-image: url('https://ts.zlimg.com/v2/h5/jd/home_icon_hot.png');
                }
            }
            .datalist {
                display: block;
                overflow: hidden;
                
                .item {
                    float: left;
                    display: block;
                    width: calc(50vw - 1px);
                    
                    img {
                        width: 100%;
                        min-width: 100%;
                        max-width: 100%;
                    }
                    em {
                        height: 28px;
                        color: #333333;
                        font-size: 12px;
                        line-height: 14px;
                        white-space: nowrap;
                        text-overflow:ellipsis;
                        margin: 10px;
                    }
                    dfn {
                        text-align: left;
                        margin: 0px 10px;
                    }
                }
            }
        }
    }
    
    .toygrid {
        margin-top: 10px;
        background: #ffffff;
        
        .caption {
            display: block;
            height: 70px;
            text-align: center;
            
            em {
                display: inline-block;
                color: #ff8942;
                font-size: 16px;
                padding-left: 20px;
                margin-top: 22px;
                background: url('https://ts.zlimg.com/v2/h5/jd/home_icon_more.png') left center / 16px 16px no-repeat;
            }
            dfn {
                display: block;
                color: #b3b3b3;
                font-size: 12px;
                margin-top: 10px;
            }
        }
    } 
}