.tm-toy-index {
    height: 100%;
    .city {
        position: absolute;
        left: 10px;
        top: 10px;
        background-color: hsla(0,0%,100%,0.8);
        padding: 3px 10px;
        font-size: 12px;
        color: #575757;
        z-index: 2;
        border-radius: 10px;
        var {
            float: left;
            padding-top: 1px;
        }
        .location {
            float: left;
            margin-right: 5px;
            width: 10px;
        }
        .arrow {
            float: left;
            width: 5px;
            padding: 2px 0px 0px  7px;
        }
    }
    .search{
        position: absolute;
        top: 5px;
        right: 3px;
        z-index: 2;
        width: 50px;
    }
    .nav {
        display: block;
        height: 42px;
        border-top: 1px solid #f3f3f3;
        background: #ffffff;
        overflow: hidden;
        .personal {
            float: left;
            width: 20%;
            height: 44px;
            font-size: 13px;
            border: 0px;
            position: relative;
            overflow: hidden;
            .portrait {
                float: right;
                width: 34px;
                padding: 5px 40% 0 0;
            }
            .authorized {
                width: 28px;
                position: absolute;
                top: 0;
                right: 23%;
            }
        }
        .switch {
            float: left;
            width: 16%;
            height: 44px;
            border: 0px;
            font-size: 15px;
            line-height: 44px;
            text-align: center;
        }
         
    }
}
