.tm-order-distribution {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 10;
    
    .container {
        position: absolute;
        left: 0px;
        right: 0px;
        bottom: 0px;
        height:380px;
        background-color: #fff;
        
        .caption {
            overflow: hidden;
            border-bottom: 1px solid #f0f0f0;
            
            .text {
                float: left;
                display: block;
                color: #575757;
                font-size: 14px;
                padding: 13px 0 13px 10px;
            }
            .button {
                float: right;
                display: block;
                color: #ed6f37;
                font-size: 14px;
                padding: 13px 10px;
            }
        }
        .picker {
            
            .subcaption {
                display: block;
                height: 36px;
                color: #888888;
                font-size: 13px;
                line-height:36px;
                vertical-align: middle;
                
                ins {
                    display:inline-block;
                    width: 3px;
                    height: 16px;
                    vertical-align: middle;
                    margin:7px 5px 10px 0px;
                    background-color: #fed130;
                }
            }
            
            .list {
                overflow: hidden;
                font-size: 0px;
                
                .item.method {
                    float:left;
                    display:block;
                    width:50%;
                    
                    .inner {
                        display:block;
                        overflow:hidden;
                        height:126px;
                        padding:7px;
                        border: 1px solid #e9e9e9; 
                        border-radius: 5px;
                        background-color: #f9f9f9;
                        
                        .title {
                            display: block;
                            font-size: 14px;
                            line-height:24px;
                        }
                        .desc {
                            display:block;
                            overflow: hidden;
                            height:54px;
                            color: #b3b3b3;
                            font-size: 12px;
                            line-height: 18px;
                        }
                        .price {
                            display: block;
                            overflow: hidden;
                            height: 48px;
                            color: #575757;
                            font-size: 12px;
                            line-height: 48px;
                            margin-right:56px;
                            
                            var {
                                color: #ed6f37;
                                font-size: 15px;
                            }
                        }
                        .icon {
                            float:right;
                            display:block;
                            width: 60px;
                        }
                        .choice {
                            position:relative;
                            display:block;
                            top:-133px;
                            right:-7px;
                            height:14px;
                            text-align: right;
                            
                            img {
                                width:14px;
                            }
                        }
                    }
                    
                    
                    &:first-child {
                        .inner {                            
                            margin:0px 6px 0px 12px;
                        }
                    }
                    &:last-child {
                        .inner {
                            margin:0px 12px 0px 6px;
                        }
                    }
                    &.selected {
                        .inner {
                            border:1px solid #fed030;
                        }
                    }
                    
                    &.disabled {
                        .inner {
                            .title {
                                color:#b3b3b3;
                            }
                            .price {
                                color:#b3b3b3;
                            }
                        }
                    }
                }
                
                .item.time {
                    float: left;
                    display: block;
                    overflow:hidden;
                    width: 64px;
                    height: 54px;
                    text-align:center;
                    padding:5px 0px;
                    margin-left: 12px;
                    border: 1px solid #e9e9e9; 
                    border-radius: 5px;
                    background-color: #f9f9f9; 
                    
                    .nonth {        
                        display: block;    
                        color: #575757;
                        font-size: 12px;
                        text-align: center;
                    }
                    .day {
                        display: block;
                        color: #ed6f37;
                        font-size: 18px;
                        text-align: center;
                        margin-top: 5px;
                    }
                    .week {
                        display: block;
                        color: #575757;
                        font-size: 12px;
                        text-align: center;
                        margin-top: 5px;
                    }
                    .choice {
                        position:relative;
                        display:block;
                        top:-59px;
                        height:14px;
                        text-align: right;
                        
                        img {
                            width:14px;
                        }
                    }
                    
                    &.selected {
                        border:1px solid #fed030;
                    }
                }
            }
        }
        .hint {
            display: block;
            color: #b3b3b3;
            font-size: 12px;
            line-height: 20px;
            text-align: center;
            padding:8px 12px;
        }
    }
}
