.tm-activity {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.4);
    background-image: url('https://ts.zlimg.com/v2/h5/jd/popup_christmas.png');
    background-repeat: no-repeat;
    background-size: 80% auto;
    background-position:center 40%;
    
    .cancel {
        position: absolute;
        right: 10%;
        top: 10%;
        width: 25px;
        height: 25px;
        background-image: url('https://ts.zlimg.com/v2/h5/jd/popup_delete.png');
        background-repeat: no-repeat;
        background-size: 25px;
        background-position:center;
    }
    .content {
        display: block;
        width: 74%;
        height: 50%;
        overflow: hidden;
        overflow: auto;
        margin: 65% 13% 0px 13%;
        
        img {
            width: 100%;
        }
    }
}
