/* 清除内外边距 */
html {
    -webkit-text-size-adjust:none;
}
html,body,div,table,
td,h1,h2,h3,h4,h5,h6, 
p,span {
    margin: 0;
    padding: 0;
}

/* 设置默认字体 */
body,div,table,ul,li,span,p,td,button,input,select,textarea {
    font: 12px/1 微软雅黑, Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif; /* 用 ascii 字符表示，使得在任何编码下都无问题 */
    font-style: normal;
}

/* 设置标题字号 */
h1 { font-size: 18px; }
h2 { font-size: 16px; }
h3 { font-size: 14px; }
h4, h5, h6 { font-size: 100%; }

/* 消除特殊文本样式 */
em,var,dfn,ins { font-style: normal; }
small { font-size: 12px; } /* 小于 12px 的中文很难阅读，让 small 正常化 */

/* 重置列表元素 */
ul, ol { list-style: none; }

/* 重置文本格式元素 */
a { text-decoration: none; }
a:focus { text-decoration: none; }
a:hover { text-decoration: none; }

/* 重置表单元素 */
img { 
    border: none; 
    outline:none; 
}

/* 重置表格元素 */
table {
    border-collapse: collapse;
    border-spacing: 0;  
}

/* 重置 hr */
hr {
    border: none;
    height: 1px;
}

/* 禁止移动端默认事件 */
body {
    -webkit-touch-callout:none;
    -webkit-user-select:none;
    user-select:none;
}

a, input, button, img {
    
    outline:none;
    -webkit-tap-highlight-color:transparent;
    
    &:focus{
        outline:none;
    }
}

button:focus, input:focus, select:focus, textarea:focus {
    outline: none;
}

input:-webkit-autofill,
textarea:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px #ffffff inset;
}
    
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
   color:#C9C9C9;
}
　
.clearfix {
    clear:both;
    display:block;
    height:1px;
}

/*
@keyframes headshake {
  0% { transform: rotate(0deg); }
  25% { transform: rotate(10deg); }
  50% { transform: rotate(0deg); }
  75% { transform: rotate(-10deg); }
  100% { transform: rotate(0deg); }
}
*/

@-webkit-keyframes headshake {
  0% { transform: rotate(0deg); }
  10% { transform: rotate(10deg); }
  20% { transform: rotate(0deg); }
  30% { transform: rotate(-10deg); }
  40% { transform: rotate(0deg); }
}

/*
@keyframes cartshake
{
    50% {
        transform: scale(1.5);
    }
}
*/

@-webkit-keyframes cartshake {
    50% {
        transform: scale(1.5);
    }
}