.tm-order-lease {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 10;
     
    .container {
        position: absolute;
        left: 0px;
        right: 0px;
        bottom: 0px;
        height:240px;
        background-color: #fff;
        
        .caption {
            display: block;
            height:44px;
            color: #b3b3b3;
            font-size: 14px;
            line-height:44px;
            padding-left:12px;
            border-bottom: 1px solid #f0f0f0;
        }
        .time {
            overflow: auto;
            height: 196px;
            
            .day {
                font-size: 13px;
                text-align: center;
                padding: 11px 0;
                border-bottom: 1px solid #f9f9f9;
                
                &.selected {
                    color: #fed130;
                }
                &.unselected {
                    color: #575757;
                }
            }
        }
    }
}